<div class = "container">
  <h1>Your review for <%=@restaurant.name%></h1>
  <div class = "form">
  	<%= simple_form_for ([@restaurant, @review] )do |f|%>
	    <%= f.input :content %>
      <%= f.label "Give your rating between 1 and 5:" %>
	    <%= f.number_field(:rating, in: 1.0..5.0, step: 1.0)%>
	    <%= f.button :submit, class: "btn btn-primary"%>
      <% end %>
  </div>
  <%= link_to "Return to restaurant", restaurant_path(@restaurant) %>
  <br>
  <%= link_to "Return to homepage", restaurants_path %>
</div>